
</html><!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>

	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/style2.css" type="text/css">
</head>
<body>
 

	  
	   
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
				<a href="index.html">Click the button to Home</a>
				</div>
			</div>
			<div>
				<ul class="blog">
					<li>
						  <h1> Supplier please insert your Json file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
					</li>
					<li>
						  <h1>Supplier please insert your CSV file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
					
					</li>
					
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
