
<!DOCTYPE html>
<html>
<head>
<style>

</style>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/style2.css" type="text/css">
</head>
<body>
 

	  
	   
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
						<ul>
					<li class="selected">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="batch-weight.html">Weight</a>
					</li>
					<li>
						<a href="unknown.html">unknown</a>
					</li>
					
				</ul>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
	
				</div>
			</div>
			<div>
				<ul class="blog">
					<li>
						  <h1>Supplier please insert your CSV/Json file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="csvfile"></p>
      <p><input type="submit" value="Submit"></p>
					
					</li>
					
				</ul>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				
				
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
