
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


</style>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/style3.css" type="text/css">
</head>
<body>

	   
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
						<ul>
				<li class="selected">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="batch-weight">Batch-Weight</a>
					</li>
					<li>
						<a href="unknown">Unknown</a>
					</li>
					<li>
						<a href="weight">Weight</a>
					</li>
					<li>
						<a href="session">Session</a>
					</li>
					<li>
						<a href="item">Item</a>
					</li>
					
				</ul>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
				
				</div>
			</div>
			<div>
				<ul class="blog">
					<form method="POST" action="">
			  <H1>Get Weight</H1> <br>
						<br><h4>You may enter date-time in YYYY-MM-DD HH:MM:SS format, or leave empty for default values</h4>
						<h4>example input: 2021-05-29 13:55:00</h4>
						<h4>You may also add a filter by typing a comma separated list of lowercase directions without spaces</h4>
						<h4>example input: in,out</h4> <br><br>
						Filter: <input type="text" name="f" id="f"/> <br><br>
            			From time: <input type="text" name="t1" id="t1" /> <br><br>
						Until time: <input type="text" name="t2" id="t2"/> <br><br>


				<br>
            <input type="submit"> <br>
	</form>
<br><br><br><br><br><br><br><br><br>
					
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
