<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Primir Weight Team RULE</title>
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<!--[if IE 7]>
			<link rel="stylesheet" href="static/css/ie7.css" type="text/css">
		<![endif]-->
</head>
<body>
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
				
					<a href="batch-weight.html">Click the button to weight</a>
						<iframe width="967" height="544" src="https://www.youtube.com/embed/18LrG2yA4vY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div>
				<ul class="blog">
					<li>
						<a href="blog.html"><img src="images/crown.png" alt=""></a>
						<h3>some knowlage on the team :D</h3>
						<p>Koren Shoshan : Our leader 
						he is here to take the blame.
						Our developers: Victor , Bar , Harel , Daniel , Boris ,Adi</p>
					</li>
					<li>
						<a href="blog.html"><img src="images/cake.png" alt=""></a>
						<h3>About US</h3>
						<p>We have been requested to give u a little test from our world.
				So we have created a weighting Application for you.this just a nice homepage that we made for you
				Ty for beeing here. Have a nice day :D
				</p>
				<img width="70" height="70" src="static/images/truck.png" alt=""></a>
					<li>
						 
						<h3>Lorem Ipsum Dolor</h3>
						<p>This website template has been designed by Free Website Templates for you, for free. You can 
							replace all this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi</p>
						<a href="blog.html">Read more!</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				<p>This website template has been designed by Free Website Templates for you, for free. You can replace all
					this text with your own text. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
					euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud 
					exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure 
					dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero 
					eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
					nulla facilisi. Nam</p>	
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
