<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Primir Weight Team RULE</title>
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<!--[if IE 7]>
			<link rel="stylesheet" href="static/css/ie7.css" type="text/css">
		<![endif]-->
</head>
<body>
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="batch-weight.html">Weight</a>
					</li>
					<li>
						<a href="unknown.html">unknown</a>
					</li>
				</ul>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
				
						<iframe width="967" height="544" src="https://www.youtube.com/embed/18LrG2yA4vY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div>
				<ul class="blog">
				
					<li>
					
						<a href="blog.html"><img src="images/crown.png" alt=""></a>
						<h3>some knowlage on the team :D</h3>
						<p>Koren Shoshan : Our leader 
						he is here to take the blame.
						Our developers: Victor , Bar , Harel , Daniel , Boris ,Adi</p>
					</li>
					<li>
						<a href="blog.html"><img src="images/cake.png" alt=""></a>
						<h3>About US</h3>
						<p>We have been requested to give u a little test from our world.
				So we have created a weighting Application for you.this just a nice homepage that we made for you
				Ty for beeing here. Have a nice day :D
				</p>
				<img width="70" height="70" src="static/images/truck.png" alt=""></a>
					</li>
					<li>
						<br>
						<br> 
						<h3>Smart man once said</h3>
						
						
						<p>I would teach peace rather than war. I would inculcate love rather than hate.</p>
						
						<p>Albert Einstein.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				<p></p>	
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
