
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/style3.css" type="text/css">
</head>
<body>
 

	  
	   
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
				<il>
				<a href="index.html">Click the button to Home</a>
				</il>
				<il>
				<a href="batch-weight.html">Click the button to Weight</a>
				</il>
				</div>
			</div>
			<div>
				<ul class="blog">
					<li>

				<h1> Here comes the Unknown containers</h1>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
