
<!DOCTYPE html>
<html>
<head>
<style>
</style>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/style4.css" type="text/css">
</head>
<body>

	   
	<div class="page">
		<div class="header">
			<div>
				<img width="200" height="200" src="static/images/logo.png" alt="logo"></a>
						<ul>
				<li class="selected">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="batch-weight">Batch-Weight</a>
					</li>
					<li>
						<a href="unknown">Unknown</a>
					</li>
					<li>
						<a href="weight">Weight</a>
					</li>
					<li>
						<a href="session">Session</a>
					</li>
					<li>
						<a href="item">Item</a>
					</li>
				</ul>
		
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
			<center>	
				</div>
			</div>
			<div>
				<ul class="blog">
					<li>
    <form method="POST" action="">
			  <H1>Weight</H1> <br>

            <label for="dir">direction:in/out/none</label>
            <select name="dir" id="dir">
                <option value="none">None</option>
                <option value="in">In</option>
                <option value="out">Out</option>
            </select><br><br>
            Containers<input type="text" name="containers" /> <br>(use comma and no spaces) <br><br>            
            Weight <input type="text" name="weight" /> <br><br>
            
            <label for="unit">Choose unit:</label>

            <select name="unit" id="unit">
                <option value="kg">KG</option>
                <option value="lbs">LBS</option>
            </select> <br><br>

        
         
            

            Produce ID<input type="text" name="produce" /> <br><br>
            
			
    Force: <br>
        <input checked="checked" type="radio" id="male" name="gender" value="male">
	<label for="male">False</label><br>
	<input  type="radio" id="female" name="gender" value="female">
	<label for="female">True</label><br>
				<br><br>
            <input type="submit"> <br>
	</form>
	
					</li>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br><br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
				</ul>
				
				<div class="connect">	
					<a href="http://freewebsitetemplates.com/go/youtube/" id="vimeo">YouTube</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>
