{% extends 'base.html' %}

{% block head %}    
    <title>Truck Page</title>
{% endblock %}

{% block body %}
    <div class="box">

        <form action="/addTruck" method="post">
            <label for="title">Adding Truck</label>
            <input type="text" name="id" placeholder="Truck ID"><br>
            <input type="text" name="prov_name" placeholder="Truck Provider"><br>
            <button type="submit">Add</button>
        </form>
            
        <form action="/updateTruck" method="post">
            <label for=title>Update Provider</label>
            <input type="text" name="id" placeholder="Truck ID_to_Update"><br>
            <input type="text" name="new_prov" placeholder="Truck's new Provider"<br>
            <button type="submit">Update</button>
        </form>

         <form action="/getTruck" method="post">
            <label for=title>Get Trunk info</label>
            <input type="text" name="id" placeholder="Truck ID"><br>
            <input type="date" name="from" placeholder="From"<br>
            <input type="date" name="to" placeholder="To"<br>
            <button type="submit">Get</button>
        </form>        
           
    </div>

{% endblock %}