    <title>Truck Page</title>
    <div class="box">

        <form action="/addTruck" method="post">
            <label for="title">Adding Truck</label>
            <input type="text" name="id" placeholder="Truck ID"><br>
            <input type="text" name="prov_name" placeholder="Truck Provider"><br>
            <button type="submit">Add</button>
        </form>
            
        <form action="/updateTruck" method="post">
            <label for=title>Update Provider</label>
            <input type="text" name="id" placeholder="Truck ID_to_Update"><br>
            <input type="text" name="new_prov" placeholder="Truck's new Provider"><br>
            <button type="submit">Update</button>
        </form>

        {% for truck in truck_list %} 
            <h3>{{ truck[0] }}</h3>
        {% endfor %}
        
        <p>
            <a href="/">Return to main</a>
        </p>
           
    </div>