<doctype html>
<html lang="en">
<head>
    <title>Billing app</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block head %} {% endblock %}
</head>
<body>
<h1>Billing Service</h1>
<div class="box">
<a href="/trucks">Truck Page</a>
<a href="/providers">Provider Page</a>
<a href="/bill">Show my bill</a>
</div>
    {% block body %} {% endblock %}
</body>
</html>